@import "tailwindcss";
@import "flowbite/src/themes/default";

/* custom font */
@font-face {
  font-family: "worksans";
  src: url("./assets/fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

/* custom theme */
@theme{
--font-worksans:'worksans','sans-serif';
--font-poppins:'poppins','sans-serif';

--shadow-card:'0px 1px 2px 0px rgba(0, 0, 0, 0.05)';

--color-blue-1000:#2b77e7;
--color-black-1000:#000;
--color-black-1100:#1D2235;
}

/* custom components */
@layer{
  .blue-btn{
    @apply font-poppins text-white bg-blue-1000 box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none
  }
}